@font-face {
    font-family: 'OPPOSans'; 
    src: url('./OPPOSans-R.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OPPOSans-H'; 
    src: 
    url('./OPPOSans-H.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OPPOSans-M'; 
    src: 
    url('./OPPOSans-M.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OPPOSans-L'; 
    src: 
    url('./OPPOSans-L.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OPPOSans-B'; 
    src: 
    url('./OPPOSans-B.woff');
    font-weight: normal;
    font-style: normal;
}